.pnf-container {
    height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #fcdbdb;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
}

.pnf-h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

.pnf-p {
    font-size: 24px;
    margin-bottom: 30px;
}