.main-container{
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.body-container{
    flex-grow: 1;
    background-color: #F6EDE4;
}

.bg-img{
    background-image: url("../../resources/images/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
